src/main/mule/exam-mcd4-db.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vault="http://www.mulesoft.org/schema/mule/vault" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:vault-properties-provider="http://www.mulesoft.org/schema/mule/vault-properties-provider" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/vault http://www.mulesoft.org/schema/mule/vault/current/mule-vault.xsd">
	<http:listener-config name="HTTP_Listener_config"
		doc:name="HTTP Listener config" doc:id="ebcc9686-52a1-487d-96d5-ee31cc85c559">
		<http:listener-connection host="0.0.0.0"
			port="${http.port}" />
	</http:listener-config>
	<configuration-properties file="properties.yaml" />
	<db:config name="Database_Config" doc:name="Database Config"
		doc:id="7b73e6c3-68be-4183-9e1f-ef260fc6c7bd">
		<db:my-sql-connection host="${db.host}" port="${db.port}"
			user="${db.username}" password="${db.password}" database="${db.database}" />
	</db:config>
	<flow name="databaseParamsFlow" doc:id="3e398e24-2f2f-48ee-8843-493f9a3ea26d">
		<http:listener doc:name="Database parameters"
			doc:id="c74557cf-e2bf-4ddd-9912-c058a4519b43" config-ref="HTTP_Listener_config"
			path="/databaseParams" />
		<db:select doc:name="Select" doc:id="af1afb3d-5e4f-4503-9704-6c1dc20e144d"
			config-ref="Database_Config">
			<db:sql>SELECT * FROM american WHERE planeType = :planeType</db:sql>
			<db:input-parameters><![CDATA[#[{
	"planeType": p('plane.type')
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message"
			doc:id="88ba5d4e-8f73-47d7-a6a1-410ef38a0d4b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger"
			doc:id="b1c47bd6-c5b2-43cf-9368-309c65e330f9" message="#[[payload]]" />
	</flow>
</mule>
